AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BasedOnStyle: Google
BreakAfterReturnType: TopLevelDefinitions
BreakBeforeBraces: Allman
ColumnLimit: 120
IndentWidth: 2
InsertBraces: true
PointerAlignment: Right
TabWidth: 2
UseTab: ForIndentation
