@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    src: url('fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'NotoSerif';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/NotoSerif-Regular.ttf');
}

@font-face {
    font-family: 'NotoSerif';
    font-style: normal;
    font-weight: bold;
    src: url('fonts/NotoSerif-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.00rem;
    background-color: #000;
    color: #fff;
    min-width: 20rem;
}

@media all and (min-width: 25em) {
    html {
        font-size: calc(0.8999rem + 0.4000vw);
    }
}

@media all and (min-width: 50em) {
    html {
        font-size: 1.10rem;
    }
}

body {
    font-family: 'NotoSerif', georgia, 'times new roman', times, serif;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 50rem;
    padding: 0 1rem;
}

header {
    font-family: 'Roboto', sans-serif;
    color: #878787;
    padding: 1.5rem 0;
    border-bottom: 1px solid #222;
}

header h1 {
    font-size: 1.5rem;
    font-weight: normal;
    color: #ededed;
}

header .subtitle {
    font-size: 0.9rem;
    color: #878787;
}

nav {
    font-family: 'Roboto', sans-serif;
    margin: 2rem 0;
}

nav a {
    display: block;
    padding: 0.75rem 0;
    color: #878787;
    text-decoration: none;
    transition: color 0.2s;
}

nav a:hover {
    color: #c3c3c3;
}

@media all and (hover: none) {
    nav a:hover {
        color: #878787;
    }
}

main {
    padding: 2rem 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #fff;
}

h1 {
    font-size: 2rem;
    margin-top: 0;
}

h2 {
    font-size: 1.5rem;
    border-bottom: 1px solid #333;
    padding-bottom: 0.5rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    margin-bottom: 1rem;
}

a {
    color: #6699cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    font-family: monospace;
    background-color: #1a1a1a;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
    font-size: 0.9em;
}

pre {
    background-color: #1a1a1a;
    padding: 1rem;
    overflow-x: auto;
    border-radius: 3px;
    margin: 1rem 0;
}

pre code {
    background-color: transparent;
    padding: 0;
}

ul, ol {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

li {
    margin-bottom: 0.5rem;
}

blockquote {
    border-left: 3px solid #333;
    padding-left: 1rem;
    margin: 1rem 0;
    color: #aaa;
}

footer {
    font-family: 'Roboto', sans-serif;
    color: #666;
    padding: 3rem 0 2rem 0;
    border-top: 1px solid #222;
    font-size: 0.9rem;
    text-align: center;
}

.section-list {
    list-style: none;
    margin-left: 0;
}

.section-list li {
    padding: 0.5rem 0;
}

.section-list a {
    font-size: 1.1rem;
}

.focus {
    background-color: #0a0a0a;
    border-left: 3px solid #336696;
    padding: 1.5rem;
    margin: 2rem 0;
}

.focus h2 {
    margin-top: 0;
    border-bottom: none;
}

.projects {
    list-style: none;
    margin-left: 0;
}

.projects li {
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #1a1a1a;
}

.projects li:last-child {
    border-bottom: none;
}

.projects h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.projects h3 a {
    color: #fff;
}

.projects h3 a:hover {
    color: #6699cc;
}

.projects p {
    margin-bottom: 0.75rem;
}

.status {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #878787;
    margin-bottom: 0;
}
